.side {
    position: absolute;
    backface-visibility: hidden;
    transition: transform 3s ease-in-out;
    transform-style: preserve-3d;
    /* Important for maintaining 3D transformations */
}

.heads {
    transform: rotateY(0deg);
}

.tails {
    transform: rotateY(180deg);
    /* Rotate further than 180 deg to show tails */
}

.visible {
    visibility: visible;
}

.flipping .heads {
    transform: rotateY(1800deg);
}

.flipping .tails {
    transform: rotateY(1980deg);
}

.reset {
    animation: none;
}